<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Message</title>
</head>
<body>
    <h1>New Message</h1>
    <form method="post">
        <textarea th:value="${messageForm.message}">New Message</textarea>
    </form>
</body>
</html>